html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #eeeeee;
    border-top: solid;
    border-top-width: 1px;
    border-color: #cccccc;

}

.muted {
    color: #bbb;
}

.img-cat {
    padding-top: 80px;
}

.navbar-header {
    padding-left: 50px;
}

.stat-icon {
    padding-top: 3px;
}

.exception {
    padding-left: 30px;
    font-family:"Courier New", Courier, monospace
}